<ion-header>
    <ion-toolbar>
        <ion-title>Réinitialisation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="passwordForm" (submit)="change(passwordForm.value)" style="padding-top:10px; margin-top: 80px; min-height:230px; box-shadow: 4px 4px 4px 4px rgb(204, 202, 202)"> 
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Code</ion-label>
                <ion-input formControlName="code"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Mot de passe</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Confirmation Mot de passe</ion-label>
                <ion-input formControlName="passwordConfirmation" type="password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button type="submit" expand="full"> Changer </ion-button>
    </form>
</ion-content>
